# Dependencies
node_modules/
npm-debug.log*

# Build output
dist/
.angular/

# IDE
.idea/
.vscode/

# Tests
coverage/

# OS Files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Environnement local
.env
.env.local