
<div class="modal-overlay" *ngIf="showModal" (click)="cancel()">
  <div class="modal" (click)="$event.stopPropagation()" [class]="config?.type || 'warning'">

    <div class="modal-icon">
      <span *ngIf="config?.type === 'danger'"><span class="material-symbols-outlined  cl-danger">dangerous</span></span>
      <span *ngIf="config?.type === 'warning'"><span class="material-symbols-outlined  cl-warning">warning</span></span>
      <span *ngIf="config?.type === 'info'"><span class="material-symbols-outlined  cl-info">info</span></span>
    </div>

    <h2>{{ config?.title }}</h2>
    <div class="message-text" [innerHTML]="config?.message"></div>



    <div class="modal-actions">
      <button class="btn-cancel" (click)="cancel()">
        {{ config?.cancelText || 'Annuler' }}
      </button>
      <button class="btn-confirm" (click)="confirm()">
        {{ config?.confirmText || 'Confirmer' }}
      </button>
    </div>
  </div>
</div>
